<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/public/css/bootstrap.css" />
    <link rel="stylesheet" href="/public/css/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="/controllers/angular-local-storage.min.js"></script>
    <script src = "/node_modules/angular-xslt/src/ng-xslt.js"></script>
    <script src="/controllers/crearSesionCtrl.js"></script>
</head>

<%- include("layout.html"); %>

<body ng-app="sesion" ng-controller="crearSesion">
    <div class="col-md-4 col-md-offset-4">
        <h2 class="page-header">Creando el Juego!</h2>

        <div ng-if="variables.invRepetido" class="alert alert-danger">Ya invitaste a esa persona uwu</div>
        <div ng-if="variables.escRepetido" class="alert alert-danger">Ya agregaste ese escenario uwu</div>

        <form name = "INV">
            <label>Invitados</label><br>
            <li ng-repeat="invitado in variables.invitados">
                {{invitado}}<br>
            </li>
            <div class="form-group">
                <input type="email" ng-model="variables.nuevoInvitado" class="form-control" placeholder="escribe el email de tu invitado aquí" name="email" required>
            </div>
            <button ng-if="INV.email.$valid" ng-click="agregarInvitado()" class="btn btn-default">Invitar</button><br><br>
        </form>



        <form name = "ESC">
            <label>Escenarios</label><br>
            <li ng-repeat="esc in variables.escenarios">
                {{esc.obj}} {{esc.hh}} hora(s), {{esc.mm}} minuto(s) {{esc.ss}} segundo(s)<br>
            </li>
            <div class="form-group">
                <input type="text" ng-model="variables.nuevoEsc.obj" class="form-control" placeholder="Escribe el objetivo de tu escenario aquí" name="obj" required>
            </div>
            <div class="col-sm-3">
                Tiempo:
            </div>
            <div class="col-sm-3">
                <input type="number" ng-model="variables.nuevoEsc.hh" class="form-control" name="hh" required>
            </div>
            <div class="col-sm-3">
                <input type="number" ng-model="variables.nuevoEsc.mm" class="form-control"  name="mm" required>
            </div>
            <div class="col-sm-3">
                <input type="number" ng-model="variables.nuevoEsc.ss" class="form-control" name="ss" required>
            </div> <br>
            <button ng-if="ESC.obj.$valid && ESC.hh.$valid && ESC.mm.$valid && ESC.ss.$valid"
                    ng-click="agregarEsc()" class="btn btn-default">Agregar escenario</button><br><br>
        </form>


        <form  method="post" action="/crear_sesion/<%= idSesionEnc %>">
            <input type="hidden" name="invitados" value={{variables.invitados}}>
            <input type="hidden" name="escenarios" value={{variables.escenarios}}>
            <br>
            <button ng-click="finalizar()" ng-if="variables.invitados.length != 0 && variables.escenarios.length != 0"
                    type="submit" class="btn btn-default">Iniciar Juego!</button>
        </form>

    </div>
</body>
</html>