<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>I T F O R C E</title>

    <!-- Bootstrap core CSS -->
    <link href="/public/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="/public/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Plugin CSS -->
    <link href="/public/vendor/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="/public/css/freelancer.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="/controllers/angular-local-storage.min.js"></script>
    <script src = "/node_modules/angular-xslt/src/ng-xslt.js"></script>
    <script src="/controllers/crearSesionCtrl.js"></script>
</head>
<% if (en) { %>
<%- include("layout_en.html"); %>
<% } else  { %>
<%- include("layout.html"); %>
<% } %>

<body ng-app="sesion" ng-controller="crearSesion">
    <div class="container">
        <img style="visibility: hidden" class="img-fluid mb-5 d-block mx-auto" src="/public/img/profile.png" alt="" height="5%" width="5%">
    </div>
<% if (en) { %>
<section class="portfolio">
    <div class="container">
        <h2 class="text-center text-uppercase text-secondary mb-0">Creating the Game!</h2>
        <hr class="star-dark mb-5">

        <div ng-if="variables.invRepetido" class="alert alert-danger">You already invite this person</div>
        <div ng-if="variables.escRepetido" class="alert alert-danger">you already add that stage</div>

        <form name = "INV">
            <label>Guests</label><br>
            <li ng-repeat="invitado in variables.invitados">
                {{invitado}}<br>
            </li>
            <div class="form-group">
                <input type="email" ng-model="variables.nuevoInvitado" class="form-control" placeholder="write your ghest's email here" name="email" required>
            </div>
            <button ng-if="INV.email.$valid" ng-click="agregarInvitado()" class="btn btn-default">Invite</button><br><br>
        </form>



        <form name = "ESC">
            <label>Stages</label><br>
            <li ng-repeat="esc in variables.escenarios">
                {{esc.obj}} {{esc.hh}} hour(s), {{esc.mm}} minute(s) {{esc.ss}} second(s)<br>
            </li>
            <div class="form-group">
                <input type="text" ng-model="variables.nuevoEsc.obj" class="form-control" placeholder="Write the stage's objetive here" name="obj" required>
            </div>
            <div class="col-sm-3">
                Time:
            </div>
            <div class="col-sm-3">
                <input type="number" ng-model="variables.nuevoEsc.hh" class="form-control" name="hh" required>
            </div>
            <div class="col-sm-3">
                <input type="number" ng-model="variables.nuevoEsc.mm" class="form-control"  name="mm" required>
            </div>
            <div class="col-sm-3">
                <input type="number" ng-model="variables.nuevoEsc.ss" class="form-control" name="ss" required>
            </div> <br>
            <button ng-if="ESC.obj.$valid && ESC.hh.$valid && ESC.mm.$valid && ESC.ss.$valid"
                    ng-click="agregarEsc()" class="btn btn-default">Add stage</button><br><br>
        </form>


        <form  method="post" action="/crear_sesion/<%= idSesionEnc %>">
            <input type="hidden" name="invitados" value={{variables.invitados}}>
            <input type="hidden" name="escenarios" value={{variables.escenarios}}>
            <input type="hidden" name = "english" id="english2" value="true">
            <br>
            <button ng-click="finalizar()" ng-if="variables.invitados.length != 0 && variables.escenarios.length != 0"
                    type="submit" class="btn btn-default">Start the game!</button>
        </form>
    </div>
</section>


<% } else  { %>

<section class="portfolio">
    <div class="container">
        <h2 class="text-center text-uppercase text-secondary mb-0">Creando el juego!</h2>
        <hr class="star-dark mb-5">

        <div ng-if="variables.invRepetido" class="alert alert-danger">Ya invitaste a esa persona uwu</div>
        <div ng-if="variables.escRepetido" class="alert alert-danger">Ya agregaste ese escenario uwu</div>

        <form name = "INV">
            <label>Invitados</label><br>
            <li ng-repeat="invitado in variables.invitados">
                {{invitado}}<br>
            </li>
            <div class="form-group">
                <input type="email" ng-model="variables.nuevoInvitado" class="form-control" placeholder="escribe el email de tu invitado aquí" name="email" required>
            </div>
            <button ng-if="INV.email.$valid" ng-click="agregarInvitado()" class="btn btn-default">Invitar</button><br><br>
        </form>



        <form name = "ESC">
            <label>Escenarios</label><br>
            <li ng-repeat="esc in variables.escenarios">
                {{esc.obj}} {{esc.hh}} hora(s), {{esc.mm}} minuto(s) {{esc.ss}} segundo(s)<br>
            </li>
            <div class="form-group">
                <input type="text" ng-model="variables.nuevoEsc.obj" class="form-control" placeholder="Escribe el objetivo de tu escenario aquí" name="obj" required>
            </div>
            <div class="col-sm-3">
                Tiempo:
            </div>
            <div class="col-sm-3">
                <input type="number" ng-model="variables.nuevoEsc.hh" class="form-control" name="hh" required>
            </div>
            <div class="col-sm-3">
                <input type="number" ng-model="variables.nuevoEsc.mm" class="form-control"  name="mm" required>
            </div>
            <div class="col-sm-3">
                <input type="number" ng-model="variables.nuevoEsc.ss" class="form-control" name="ss" required>
            </div> <br>
            <button ng-if="ESC.obj.$valid && ESC.hh.$valid && ESC.mm.$valid && ESC.ss.$valid"
                    ng-click="agregarEsc()" class="btn btn-default">Agregar escenario</button><br><br>
        </form>


        <form  method="post" action="/crear_sesion/<%= idSesionEnc %>">
            <input type="hidden" name="invitados" value={{variables.invitados}}>
            <input type="hidden" name="escenarios" value={{variables.escenarios}}>
            <br>
            <button ng-click="finalizar()" ng-if="variables.invitados.length != 0 && variables.escenarios.length != 0"
                    type="submit" class="btn btn-default">Iniciar Juego!</button>
        </form>

    </div>
</section>
<% } %>

</body>

<% if (en) { %>
    <script>
        document.getElementById("langButton").innerHTML = '<form id="lang" method="post" action="/crear_sesion_en/<%= idSesionEnc %>">\n' +
            '                        <a href="#" class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" onclick="document.getElementById(\'lang\').submit()">Español</a>\n' +
            '                    </form>'
    </script>
<% } else { %>
    <script>
        document.getElementById("langButton").innerHTML = '<form id="lang" method="post" action="/crear_sesion_en/<%= idSesionEnc %>">\n' +
            '<input type="hidden" name = "english" id="english" value="true">'+
            '                        <a href="#" class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" onclick="document.getElementById(\'lang\').submit()">English</a>\n' +
            '                    </form>'
    </script>
<% } %>


</html>
