<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/public/css/bootstrap.css" />
    <link rel="stylesheet" href="/public/css/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="/node_modules/angular-sanitize/angular-sanitize.js"></script>
    <script src = "/node_modules/angular-xslt/src/ng-xslt.js"></script>
    <script src="/controllers/decisionesCtrl.js"></script>
    <script src="/socket.io/socket.io.js"></script>


</head>
<%- include("layout.html"); %>
<body ng-app="sesion" ng-controller="decisiones">
    <div class="col-md-4 col-md-offset-4">
        <div id="counter"></div>
        Escenario: <%= esc.objetivo %><br>
        Index: <%= indexEsc %><br>
        holaaaaaaa <%= username %><br>
        <form method="post" action="/sesion/escenario/mandar_decisiones/<%= idSesionEnc %>/<%=indexEsc %>/<%= idPartEnc %>/<%= username %>">
            <div ng-bind-html="'<%= dec%>' | xslt:decXslt | html"></div>
        </form>

        <script> var socket = io.connect(window.location.host);

        var counter = document.getElementById('counter');
        resultado = document.getElementById('resultado');


        var x = setInterval(function() {

            // Get todays date and time
            var now = new Date().getTime();

            // Find the distance between now an the count down date
            var distance = "<%= hr_finish %>" - now;
            if ("<%= editar %>" == "true") distance = "<%= tiempo_extra %>" - now;

            // Time calculations for days, hours, minutes and seconds
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);

            var str_segundo = new String (seconds)
            if (str_segundo.length === 1)
                seconds = "0" + seconds;

            var str_minuto = new String (minutes)
            if (str_minuto.length === 1)
                minutes = "0" + minutes;

            var str_hora = new String (hours)
            if (str_hora.length === 1)
                hours = "0" + hours;

            var horaImprimible = hours + " : " + minutes + " : " + seconds;

            // Output the result in an element with id="demo"
            document.getElementById("counter").innerHTML = horaImprimible;

            // If the count down is over, write some text
            if (distance < 0) {
                clearInterval(x);
                document.getElementById("counter").innerHTML = "SE ACABO DEL TIEMPO";
                socket.emit("time_over",{
                    idPart: "<%= idPart %>",
                    idSesion: "<%= idSesion %>"
                });
            }
        }, 1000);

        // Output the result in an element with id="demo"

        socket.on('time_over', function (data){
            if (parseInt("<%= idPart %>") === parseInt("<%= moderador %>"))
                alert("oe se acabo del tiempo zi");
        });

        console.log('iniciando timer..');
        socket.emit('iniciar',{
            hora: "<%= hor %>",
        minuto: "<%= mi %>",
        segundo: "<%= se %>",
        indexEsc: "<%= indexEsc %>",
        idSesion: "<%= idSesion %>"
        });

        //Enviar mensaje al hacer click
        resultado.addEventListener('click',function () {
            if ("<%= nocreador %>" == "true") {
                socket.emit('resultado', {
                    idPart: "<%= idPart %>",
                indexEsc: "<%= indexEsc %>",
                idSesion: "<%= idSesion %>",
                namePart: "<%= namePart %>"
            });
            }

        });

        socket.on('resultado',function (data) {
        });

        </script>


    </div>
</body>
</html>