<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>I T F O R C E</title>

    <!-- Bootstrap core CSS -->
    <link href="/public/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="/public/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Plugin CSS -->
    <link href="/public/vendor/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="/public/css/freelancer.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/style.css" />
</head>

<%- include("layout_en.html"); %>
<body>
<section class="portfolio" id="portfolio">
    <div class="container">
        <p></p>
        <p><h2>This are the game that you have been participated!</h2></p>
        <form method="post" action="/historial/sesion">
            <select name="sesion">
                <% sesiones.forEach(function(sesion) { %>
                <option value="<%=sesion.id%>"><%= sesion.titulo %></option>
                <% }); %>
            </select>
            <input type="hidden" name = "english" id="english" value="true">
            <button type="submit" class="btn btn-lg btn-info">Load Game</button>
        </form>
    </div>
</section>
</body>

<script>
    document.getElementById("langButton").innerHTML =
        '<form id="lang" method="get" action="/historial">\n' +
        '<a href="#" class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" onclick="document.getElementById(\'lang\').submit()">Español</a>\n' +
        '</form>'
</script>
</html>
