<!DOCTYPE html>
<html>
<head>
    <title>I.T. Force</title>
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/decisiones.css" />
</head>
<body>
<div class="container">
    <div class="header clearfix">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li role="presentation"><a href="/">Inicio</a></li>
                <li role="presentation"><a href="/login">Iniciar Sesion</a></li>
                <li role="presentation"><a href="/registro">Regístrate</a></li>
            </ul>
        </nav>
        <h3 class="text-muted">I.T. Force</h3>
    </div>
</div>
</body>
</html>