<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/public/css/bootstrap.css" />
    <link rel="stylesheet" href="/public/css/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="/controllers/sesionCtrl.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <style>
        .another {
            position: fixed;
            left: 0;
            top: 0;
            height: 100%;
            width: 20%;
            overflow:auto;
        }
    </style>
</head>


<body>
    <div class="another">
        ola ke ase<br>
        ola ke ase<br>
        ola ke ase<br>
        ola ke ase<br>
        ola ke ase<br>
        ola ke ase<br>
        ola ke ase<br>
        ola ke ase<br>
        ola ke ase<br>
        ola ke ase<br>
        ola ke ase<br>
        ola ke ase<br>
        ola ke ase<br>
        ola ke ase<br>
        ola ke ase<br>
        ola ke ase<br>
        ola ke ase<br>
        ola ke ase<br>
        ola ke ase<br>
        ola ke ase<br>
        ola ke ase<br>
        ola ke ase<br>
        ola ke ase<br>
        ola ke ase<br>
        ola ke ase<br>
        ola ke ase<br>
        ola ke ase<br>
        ola ke ase<br>
        ola ke ase<br>
        ola ke ase<br>
        ola ke ase<br>
        ola ke ase<br>
        ola ke ase<br>
        ola ke ase<br>
        ola ke ase<br>
        ola ke ase<br>
        ola ke ase<br>
        ola ke ase<br>
        ola ke ase<br>
        ola ke ase<br>
        ola ke ase<br>
        ola ke ase<br>
        ola ke ase<br>
        ola ke ase<br>
        ola ke ase<br>
        ola ke ase<br>
        ola ke ase<br>
        ola ke ase<br>
        ola ke ase<br>
        ola ke ase<br>
        ola ke ase<br>
        ola ke ase<br>
        ola ke ase<br>
        ola ke ase<br>
        ola ke ase<br>
        ola ke ase<br>
        ola ke ase<br>
        ola ke ase<br>
        ola ke ase<br>
        ola ke ase<br>
        ola ke ase<br>
        ola ke ase<br>
        ola ke ase<br>
        ola ke ase<br>
        ola ke ase<br>

    </div>
</body>
</html>
