<table class="table">
	<thead>
  		<tr>
    	  <th> ID </th>
    	  <th> Username </th>
    	  <th> Password </th>
          <th> Email </th>
    	  <th> Acciones </th>
  		</tr>                
    </thead>
  <tbody>
  <tr ng-repeat="usuario in users">
    <td>{{usuario.id}}</td>
    <td>{{usuario.username}}</td>
    <td>{{usuario.password}}</td>
    <td>{{usuario.email}}</td>
    <td> Eliminar Modificar</td>
  </tr>
  </tbody>
</table>